@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    background-color: rgb(222,235,245);

}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    box-shadow: 30px;
    max-width: 650px;
    margin: 0 auto;
}
    
.parent * {
    padding: 20px;
    flex: 1 0 61%;  /* flex-grow, flex-shrink, flex-basis */
}

.upperDiv { 
    background-color: white;
    border-radius: 5px 5px 0 0; 
}

.leftDiv { 
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 5px; 
}

.rightDiv { 
    flex-basis: 40%;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 5px 0 ; 
    opacity: 0.75; 
 }

 footer {

    bottom: 0;
        width: 100%;
}

 #dollar {
     text-align: left;
     padding: 0px;
     font: 30px 'Karla', sans-serif;
     margin-right: -10px;
 }

 p h1 {
    line-height: 20px;   /* within paragraph */
    margin: -20px; /* between paragraphs */
 }

 .upperClose {
     margin-bottom: 0px;
 }

 .lowerClose {
    margin-top: -25px;
}

.halfScreen {
    width: 75%;
}

.cta {
    background: hsl(71, 73%, 54%); 
    color: white; 
    height: 50wh;
    text-align: center;
    border-radius: 5px; 
    text-decoration: none;
}

.cta:hover {
    background: white; 
    color: hsl(71, 73%, 54%); 
}
 /* Color classes  */

 #cyan {
    color: hsl(179, 62%, 43%);
 }

 #brightYellow {
    color: hsl(71, 73%, 54%);
 }

 #gray {
    color: hsl(218, 22%, 67%);
 }

 .white {
    color: white; 
 }

 .transparentWhite {
    color: white;
    opacity: 0.60;
 }

 /* Font classes  */

 .normal {
    font: normal 16px 'Karla', sans-serif;
 }

 .bold {
    font: bold 16px 'Karla', sans-serif;
 }

 .title {
     font: 20px 'Karla', sans-serif;
 }

 /* Mobile changes */

 @media only screen and (max-device-width: 375px) {

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas:
        "upperDiv"
        "leftDiv "
        "rightDiv ";
        box-shadow: 30px;
        margin: 5% ;
    }
  }
