/* @import url("(https://fonts.google.com/specimen/Karla)") */


body {
    background-color: rgb(222,235,245);
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    ". . . ."
    ". upperDiv upperDiv ."
    ". leftDiv rightDiv ."
    ". . . .";
}
    
.parent * {
    padding: 20px;
}

.upperDiv { 
    grid-area: upperDiv;
    background-color: white;
    border-radius: 5px 5px 0 0; 
}

.leftDiv { 
    grid-area: leftDiv;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 5px; 
}

.rightDiv { 
    grid-area: rightDiv;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 5px 0 ; 
    opacity: 0.75; 
 }

 p {
    line-height: 20px;   /* within paragraph */
    margin: -15px; /* between paragraphs */
 }